<h2 style="color: #0F19A0 !important;font-family: Calibri, Arial, sans-serif;margin: 15px 0;font-weight: 700;font-size: 20px;line-height: 1.111111111;padding: 15px 0;">
  What’s MoneyHelper?
</h2>

<p>
  MoneyHelper is a government backed organisation that provides free and
  impartial guidance on your money and pensions. Further information can be
  found at <a href="https://www.moneyhelper.org.uk/about-us">moneyhelper.org.uk/about-us</a>.
</p>

<p>
  MoneyHelper collects and stores personal data for the purpose of delivering
  pensions guidance. Your data will be shared with our delivery partners only
  where it is necessary to provide you with Pension Wise guidance. Full details
  of our privacy policy, including information on your rights in relation to the
  data we hold can be found at <a href="https://www.moneyhelper.org.uk/privacy">moneyhelper.org.uk/privacy</a>.
  Alternatively, please write to Pension Wise, P.O. Box 10404, LE65 9EH.
</p>
