<h2 style="color: #0F19A0 !important;font-family: Calibri, Arial, sans-serif;margin: 15px 0;font-weight: 700;font-size: 20px;line-height: 1.111111111;padding: 15px 0;">
  What’s MoneyHelper?
</h2>

<p>
  MoneyHelper is a government backed organisation that provides free and
  impartial guidance on your money and pensions. Our service is designed to
  support you in making your own informed decisions based on your circumstances.
  Further information can be found at <a href="https://www.moneyhelper.org.uk/about-us">moneyhelper.org.uk/about-us</a>.
</p>

<p>
  We don’t give legal or regulated financial advice or recommend specific
  financial products because we aren’t regulated or authorised by the Financial
  Conduct Authority to do so. This means we can’t tell you what the best option
  is for you, or what to do with your money or pension. If you’re looking for
  personalised money or pensions advice or specific product recommendations,
  you’ll need to see a regulated financial adviser or seek legal advice.
</p>

<p>
  MoneyHelper collects and stores personal data for the purpose of delivering
  pensions guidance. Full details of our privacy policy, including information on
  your rights in relation to the data we hold can be found at
  <a href="https://www.moneyhelper.org.uk/privacy">moneyhelper.org.uk/privacy</a>. Alternatively, please write to Pension Wise, P.O. Box 10404, LE65 9EH.
</p>

<p>
  Find out more about when and how to get professional advice in our guide ‘Do
  you need a financial adviser’:
  <a href="https://www.moneyhelper.org.uk/en/getting-help-and-advice/financial-advisers/do-you-need-a-financial-adviser">moneyhelper.org.uk/en/getting-help-and-advice/financial-advisers/do-you-need-a-financial-adviser</a>.
</p>

<p>
  If you need legal advice, you can find a solicitor on the Law Society website: <a href="https://www.lawsociety.org.uk">lawsociety.org.uk</a>.
</p>
