<h2 style="color: #0B0C0C !important;font-family: Helvetica, Arial, sans-serif;margin: 15px 0;font-weight: 700;font-size: 18px;line-height: 1.111111111;padding: 15px 0;">
  Preparing for your appointment
</h2>

<p>
Please find out the following information if you can and bring it with you – it
will help you get the most from your appointment.
</p>

<h3 style="color: #0B0C0C !important;font-family: Helvetica, Arial, sans-serif;margin: 15px 0;font-weight: 700;font-size: 18px;line-height: 1.111111111;padding: 15px 0;">
1. Check how much is in your retirement savings
</h3>

<p>
To do this you can:
</p>

<ul style="color: #0B0C0C;font-family: Helvetica, Arial, sans-serif;margin-top: 15px;margin-bottom: 15px;line-height: 1.315789474;">
  <% if @appointment.tesco? %>
  <li>
    Look at your latest Tesco Benefit Report
  </li>
  <li>
    Look at your pension statement from any pension providers you may have. This
    includes the Tesco Retirement Savings Plan statement which should be sent once
    a year.
  </li>
  <% end %>
  <li>
    Check your ‘wake-up’ pack if you’ve received one – you normally
    get this from your provider up to 6 months before the age you
    agreed to retire
  </li>
  <li>
    Contact your provider – if you have more than one pension you’ll
    need to contact each provider separately
  </li>
  <li>
    Phone the Pension Tracing Service on 0345 6002 537 or
    search for ‘find pension’ on GOV.UK if you can’t remember
    which pensions you have
  </li>
</ul>

<p>
Your pension may have a ‘special feature’. This could mean a better deal,
like a guaranteed annuity rate. It could also mean a restriction, like an
early exit fee. Ask your provider if your pension has any special features.
</p>

<h3 style="color: #0B0C0C !important;font-family: Helvetica, Arial, sans-serif;margin: 15px 0;font-weight: 700;font-size: 18px;line-height: 1.111111111;padding: 15px 0;">
2. Get a State Pension statement
</h3>

<p>
How much State Pension you get depends on things like your age and how
many years you’ve worked.
</p>
<p>
For a quick estimate of your State Pension go to <a
    href="https://www.gov.uk/check-state-pension">www.gov.uk/check-state-pension</a>.
  Or you can call the Future Pension Centre on 0345 3000 168.
</p>

<h3 style="color: #0B0C0C !important;font-family: Helvetica, Arial, sans-serif;margin: 15px 0;font-weight: 700;font-size: 18px;line-height: 1.111111111;padding: 15px 0;">
3. Think about your retirement income
</h3>

<p>
You’ll need to consider how much money you’ll need in retirement.
</p>

<ul style="color: #0B0C0C;font-family: Helvetica, Arial, sans-serif;margin-top: 15px;margin-bottom: 15px;line-height: 1.315789474;">
  <li>
    Find out what you’ll get in total from your retirement savings, the
    State Pension and any other income you may have
  </li>
  <li>
    Look at what your living costs are likely to be and how long your money
    may need to last
  </li>
  <li>
    You should also think about any financial needs you may have
    now and in the future, such as care costs in later life
  </li>
</ul>

<p>
Pension Wise appointments last around 45-60 minutes. Bring only your
most recent paperwork – this will give us more time to discuss your
pension options and next steps.
</p>
