<h1 style="color: #0F19A0 !important;font-family: Calibri, Arial, sans-serif;margin: 15px 0;font-weight: 700;font-size: 20px;line-height: 1.111111111;padding: 15px 0;">
  We’ve cancelled your appointment
</h1>

<p>Dear <%= @appointment.first_name %>,</p>

<p>We have cancelled the following appointment as requested:</p>

<p>
  Reference number:
  <br>
  <strong class="emphasize">
    <%= @appointment.id %>
  </strong>
</p>

<p>
  Email us if you didn’t ask us to cancel your appointment or to book a new one.
</p>

<p>
  Full details of our privacy policy, including information on your rights in
  relation to the data we hold can be found at moneyhelper.org.uk/en/privacy.
</p>
