$calendar-loading-view-background: transparentize($color-white, .2);

.fc {
  a,
  a:visited {
    color: $color-white;
  }

  min-height: 400px;
}

.fc-slats table {
  font-size: 12px;
}

.fc-event {
  @include striped($color-boston-blue);
}

.fc-bgevent {
  border: 2px solid $color-white;
}

.fc-event--theirs {
  @include striped($color-dove-gray);
}

.calendar-loading {
  align-items: center;
  background: $calendar-loading-view-background;
  bottom: 0;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}

