<li
  class="activity list-group-item t-activity <%= 't-hidden-activity activity--hideable activity--hide' if hide %>"
  data-activity-id="<%= email_activity.id %>">
  <div class="activity__inner">
    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
    <strong>The system</strong> notified the customer by email
    <span class="activity__date">
      <%= email_activity.created_at.in_time_zone('London').to_s(:govuk_date_short) %> (<%= time_ago_in_words(email_activity.created_at.in_time_zone('London'))%> ago)
    </span>
  </div>
</li>
